{
        "exclude": "node_modules/**",
        "plugins": [
                "@babel/plugin-external-helpers",
                "@babel/plugin-transform-runtime"
        ],
        "presets": [
                [
                        "@babel/preset-env",
                        {
                                "modules": false,
                                "targets": {
                                        "browsers": [
                                                "last 2 versions",
                                                "ie >= 9"
                                        ]
                                }
                        }
                ]
        ]
}